@page
@model SchoolExperienceSchoolUi.Pages.Association.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h2>Welcome @User.Claims.FirstOrDefault(c => c.Type == "name")?.Value</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
