@using IdentityModel.Client
@model SchoolExperienceSchoolUi.Pages.Components.SignInDetails.ViewModel

<div class="signin-status">
    <div class="banner">
        <div class="dfe-name">
            <p class="govuk-!-font-size-19">Department for Education</p>
        </div>

        <div class="signin-status">
            @if (User.Identity.IsAuthenticated)
            {
                <p class="govuk-!-font-size-16">@Model.Name, you last signed in @Model.LastSignIn.ToString("H:mm, dd, MMM yyyy")</p>
            }
            else

            {
                <p class="govuk-!-font-size-16"><a asp-page="Auth/Login">Sign in</a> </p>

            }
        </div>
    </div>
</div>