@model SchoolExperienceUi.Models.School.DiaryViewModel

@{
    ViewData["Title"] = "Diary";
}

<h2 id="calendar-label">Diary</h2>

<div role="application" aria-labelledby="calendar-label" aria-describedby="calendar-info">

    <hr />

    <div id="calendar-info"></div>
    <div id="calendar" role="grid" class="govuk-table"></div>

</div>
<hr />

<div>
    <a asp-action="Index" class="govuk-back-link">Back</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/moment/moment.js"></script>
    <script type="text/javascript" src="~/lib/full-calendar/fullcalendar.js"></script>
    <script type="text/javascript" src="~/javascripts/school/diary.js"></script>
}

@section head {
    <link rel='stylesheet' href='~/lib/full-calendar/fullcalendar.css' />
}
